@import 'tailwindcss';

body {
  background-color: #020617;
  /* slate-950 */
  color: #f8fafc;
  /* slate-50 */
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  /* App-like feel: prevent text selection */
}

/* Allow text selection only on inputs */
input,
textarea {
  user-select: text;
}

/* Hide scrollbar for cleaner mobile look but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom scrollbar for modals if needed */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 3px;
}

@theme {
  --color-slate-850: #1e293b;
  --color-slate-950: #020617;

  --animate-fade-in: fade-in 0.2s ease-out;
  --animate-bounce-short: bounce-short 1s ease-in-out 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce-short {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
